= form_for(@talk) do |f|
  = f.error_messages

  %p
    = f.label :title
    %br
    = f.text_field :title

  %p
    = f.label :description
    %br
    = f.text_area :description, :rows => 2, :cols => 80

  %p
    = f.label :link
    %br
    = f.text_field :link

  %p
    = f.submit 'Submit'
    - unless @talk.new_record?
      or
      = link_to 'Delete', @talk, :method => :delete, :confirm => 'Are you sure?'
    or
    = link_to 'Cancel', talks_path
