#header.page
  %h1
    %a{:href => :home}
      %img#logo{:src => "/images/logo.png", :alt => "votie!"}
      // The image is as central to votie as the text, hence no image replacement :)
  
  %ul.nav
    // This is the nav
    %li
      =link_to "Home", talks_path, {:class => :home}
    %li
      =link_to "vote on talks", vote_path, {:class => :vote}
    %li
      =link_to "submit a talk", new_talk_path
    %li
      =link_to "view presenters", presenters_path
      
  %div.clear
  
#secondary-nav
  .page
    %span.github
      %a{:href => "http://github.com/klepas/votie", :title => "Fork the votie source code on GitHub"}
        Fork me on Github!
    %div.login-toggle
      %span.signed-in
        Signed-in as
        = link_to "@klepas", user_login_dev_path(:twitter_name => "klepas", :name => "klepas")
      / Dynamic hook calls the user twitter profile. The hook needs to be fixed or implemented (wasn't sure what it is). The other thing we could do is profile a :hover widget that tells them they are logged in and authed via Twitter so they donÕt blindly click the link and leave the votie instance.
      %span.sign-out
        = link_to "Sign out?", user_logout_path

.page
  - form_for(@talk) do |f|
    = f.error_messages

    %p
      = f.label :title
      %br
      = f.text_field :title

    %p
      = f.label :description
      %br
      = f.text_area :description, :rows => 2, :cols => 80

    %p
      = f.label :link
      %br
      = f.text_field :link

    %p
      = f.submit 'Submit'
      or
      = link_to 'Cancel', talks_path
