.talk
  .title= talk.title

  .presenter Presenter: #{link_to talk.presenter.name, "http://twitter.com/" + talk.presenter.twitter_name}

  .description Description: #{talk.description}

  - unless talk.link.blank?
    .link #{link_to slide_type_text(talk.slide_type), talk.link}

  .actions
    = link_to "Edit", edit_talk_path(talk) if talk.presenter == @user
    = link_to "Cast vote", cast_vote_path(talk) if @allow_voting and @user.can_vote_for?(talk)
    = link_to "Remove vote", remove_vote_path(talk) if @allow_voting and @user.voted_for?(talk)
    = "+#{talk.num_votes}" if !@allow_voting
