- content_for :hero do
  %p.hero
    // This is the explanatory hero text
    %span.votie votie!
    is a dead-simple web-app that
    = link_to("schedules talks", "#scheduling", :class => "feature") + ','
    = link_to("tracks speakers", "#speakers", :class => "feature")
    %span.amp &amp;
    = link_to("their presentations", "#presentations", :class => "feature")
    with a simple 
    = link_to("voting system", "#cream-of-the-crop", :class => "feature")
    to find the cream-of-the-crop.
    It&rsquo;s perfect for unconferences.
    


#conferences.page
  %h2.conferences Conferences
  .conference-list
    - unless @conferences.empty?
      %ul.conferences
        - @conferences.each do |conference|
          %li= link_to conference.name, talks_url(:subdomain => conference.subdomain)
    - else
      %p
        There are no conferences yet.
        - if current_user
          Go ahead and
          = link_to("make one", new_conference_path)+"!"
