#header.page
  %h1
    %a{:href => '/'}
      %img#logo{:src => "/images/logo.png", :alt => "votie!"}
      // The image is as central to votie as the text, hence no image replacement :)

  %ul.nav
    // This is the nav
    %li
      =link_to "Home", talks_path, {:class => :home}
    - if current_user
      %li
        =link_to "vote on talks", vote_path, {:class => :vote}
      %li
        =link_to "submit a talk", new_talk_path
      %li
        =link_to "view presenters", presenters_path

  = yield :hero

  %div.clear

#secondary-nav
  .page
    %span.github
      %a{:href => "http://github.com/klepas/votie", :title => "Fork the votie source code on GitHub"}
        Fork me on Github!
    %div.login-toggle
      - if current_user
        %span.num-votes
          You have
          = pluralize current_user.num_votes_remaining, "vote"
          remaining
        %span.signed-in
          Signed in as
          - if current_user.has_twitter?
            = link_to "@#{current_user.twitter_name}", "http://twitter.com/#{current_user.twitter_name}"
          - else
            = current_user.name || current_user.login
        %span.update-details
          = link_to "Update my details", edit_user_path(current_user)
        %span.sign-out
          = link_to "Sign out?", user_logout_path
      - else
        %span.sign-in= link_to "Sign in", user_login_path
        %span.register= link_to "Register", user_signup_path
