!!!
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en"}
  %head
    %meta{"http-equiv" => "content-type", "content" => "text/html;charset=UTF-8"}
    %title votie!

    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Vollkorn:regular,italic,bold,bolditalic'
    = javascript_include_tag :defaults
    = csrf_meta_tag


  %body
    #container
      %p#flash= flash[:notice]

      = render :partial => 'layouts/header'
      = yield
      = render :partial => 'layouts/footer'
