<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>votie!</title>

  <%= stylesheet_link_tag 'screen' %>

  <!--
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'main' %>
  -->
</head>

<body>
    <div id="container">
        <p id="flash"><%= flash[:notice] %></p>
        
        <%= yield  %>
    
        <div id="footer" class="page clear">
            <p class="copyright">&copy <a href="http://rohanmitchell.com/" title="rohanmitchell.com">Rohan Mitchell</a> <span class"amp">&amp;</span> <a href="http://klepas.org" title="klepas.org">Simon Pascal Klein</a> 2010.</p>
            <p class="forking">Come fork me at <a title="votie on GitHub.com" href="http://github.com/klepas/votie">GitHub.com</a>.</p>
        </div>    
    </div>
</body>
</html>
